@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

:root {
  --clr-primary-400: rgb(0, 0, 0);
  --clr-primary-500: #c2ec36;
}

body {
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background: black;
font-family: "Jersey 15", sans-serif;
}

::selection {
color: var(--clr-primary-400);
background-color: var(--clr-primary-500);
}
.container {
padding: 2rem 7rem;
border-radius: 14px;
background: var(--clr-primary-400);
box-shadow: 0 5px 40px rgb(178, 178, 178);
}
.result_images {
display: flex;
column-gap: 7rem;
}
.container.start .playerResult {
transform-origin: left;
animation: userShake 0.7s ease infinite;
}
@keyframes playerShake {
50% {
  transform: rotate(10deg);
}
}

.container.start .computerResult {
transform-origin: right;
animation: computerShake 0.7s ease infinite;
}
@keyframes computerShake {
50% {
  transform: rotate(-10deg);
}
}
.result_images img {
width: 100px;
}
.playerResult img {
transform: rotate(90deg);
}
.computerResult img {
transform: rotate(-90deg) rotateY(180deg);
}
.score {
text-align: center;
font-size: 2rem;
color: var(--clr-primary-500);
margin-top: 1.5rem;
}

.playerPoints {
margin-left: 1rem;
}
.computerPoints {
margin-right: 1rem;
}

.option_image img {
width: 50px;
}
.option_images {
display: flex;
align-items: center;
margin-top: 2.5rem;
justify-content: space-between;
}
.container.start .option_images {
pointer-events: none;
}
.option_image {
display: flex;
flex-direction: column;
align-items: center;
opacity: 0.5;
cursor: pointer;
transition: opacity 0.3s ease;

&:hover {
  opacity: 1;
}
}
.option_image.active {
opacity: 1;
}
.option_image img {
pointer-events: none;
}
.option_image h3 {
color: var(--clr-primary-500);
font-size: 1.3rem;
margin-top: 1rem;
pointer-events: none;
}